
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/mixins';
@import 'utils/fonts';


/* Base styles */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { box-shadow: $mainShadow; }
::-webkit-scrollbar-thumb { background: $mainColor; outline: 1px solid $darkGrey; }
::-webkit-scrollbar-corner { background: $mainColor; }
::-webkit-resizer { background: $darkGrey; }

html { font-size: $mainFontSize; }
body { background: $backgroundColor; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFont; line-height: $mainLineHeight;

  scrollbar-width: thin;
  scrollbar-color: $mainColor $darkGrey;
}

#app { position: relative; width: 100%; max-width: $desktopWidth_lg; margin: 0 auto; }

h1 { font: bold 2.488rem/1.2 'Montserrat'; }
h2 { font: normal 2.074rem/1.2 'Montserrat'; }
h3 { font: bold 1.728rem/1.2 'Montserrat'; }
h4 { font: bold 1.44rem/1.2 'Montserrat'; }
h5 { font: normal 1.2rem/1.2 'Montserrat'; }
h6 { font: bold 1rem/1.2 'Montserrat'; }

p { font: normal .875rem/1.2 'Montserrat'; }
b { font-weight: bold; }
i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active,
  &:hover,
  &:focus { color: $linkColor; }

  svg { transition: fill .3s ease-out; }
}

hr { background: $mainColor; }

.container { width: 100%; margin: 0 auto; padding: 2rem 1.25rem; background: transparent; display: grid; grid-gap: 2rem 1rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);
  .content { grid-column: 1 / 7; }

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $tabletWidth) { grid-gap: 2rem; grid-template-columns: repeat(8, 1fr);
    .content { grid-column: 1 / 9; }
  }
  @media screen and (min-width: $laptopWidth) { padding: 2rem; }
  @media screen and (min-width: $desktopWidth) { padding: 2rem 4rem; grid-template-columns: repeat(12, 1fr);
    .content { grid-column: 1 / 13; }
  }
}

@media screen and (min-width: $desktopWidth) {
  a:hover { color: $linkColor_hover; }
}


/* Form styles */
form {
  fieldset { display: flex; }

  label { color: $darkGrey; font: 500 .875rem/1.2 'Montserrat'; }
  textarea,
  input { width: 100%; background: transparent; color: $mainColor; font: 500 .875rem/1.2 'Montserrat';
    &::placeholder { color: $lightGrey; }
    &:focus { border-color: $successColor; }
    &.error { border-color: $errorColor; }
  }
  textarea { min-height: 6rem; border: 1px solid $borderColor; padding: .5rem 1rem; resize: none; }
  input { height: 2.375rem; border-bottom: 1px solid $borderColor; padding: 0; }

  .date { position: relative; cursor: pointer;
    img { position: absolute; top: 11px; right: 0; width: 16px; height: 16px; }
  }

  @media screen and (min-width: $desktopWidth) {
    .date { width: 220px; }
  }
}

.switch { height: 2.375rem; border-radius: 19px; padding: 3px; background: $white; display: flex;
  a { width: 100%; height: 2rem; border-radius: 16px; padding: 0 1.25rem; background: transparent; color: $lightGrey; font: 600 .75rem/1 'Montserrat'; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center;
    &.active { padding: 0 1.5rem; background: $mainGradient; color: $white;
      svg { stroke: $white; }
    }

    svg { width: 16px; height: 16px; stroke: $lightGrey; flex: none; }
  }

  &_icon a { width: 2rem !important; padding: 0 !important; }

  @media screen and (min-width: $desktopWidth) { background: $backgroundColor;
    a { width: auto; font-size: .875rem;
      &:hover { color: $linkColor_hover;
        svg { stroke: $linkColor_hover; }
      }
      &.active:hover { color: $white;
        svg { stroke: $white; }
      }
    }
  }
}

.button {
  a { width: 100%; height: 2.375rem; border: 1px solid transparent; border-radius: 19px; padding: 0 1.5rem; background: $accentGradient; background-size: 200% auto; color: $white; font: 600 .75rem/1 'Montserrat'; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center;
    &:hover { color: $white; }

    img { width: 22px; height: 22px; flex: none; }
  }

  // &_main a {}
  &_filter { width: 100%;
    a img { margin-right: .25rem; }
  }
  &_icon a { width: 2.375rem !important; padding: 0; }

  @media screen and (min-width: $desktopWidth) {
    a { width: auto; min-width: 9.25rem; font-size: .875rem;
      &:hover { background-position: right center; color: $white; }
    }

    // &_main a {}
    &_filter a img { margin-right: .5rem; }
    &_icon a { min-width: auto; }
  }
}


/* Layout styles */
header { border-bottom: 1px solid $borderColor; background: $white; @include z('header');
  .container { height: 3.75rem; padding: 0 1.25rem;
    .header { display: flex; justify-content: flex-end; align-items: center;
      &-logo { display: flex; flex-grow: 1;
        a { color: $mainColor; font-weight: 600; font-size: 1rem; display: flex; align-items: center;
          img { width: 48px; height: 20px; margin-right: .375rem; flex: none; }
        }
      }
      &-menu { display: none; }
      &-user a { color: $mainColor; font-weight: 500; font-size: .875rem; display: flex; align-items: center;
        span { display: none; }
        img { width: 32px; height: 32px; border-radius: 50%; overflow: hidden; flex: none; }
      }
      &-menu-bar { margin-left: .875rem;
        a { height: 24px; display: flex; align-items: center;
          img { width: 24px; height: 18px; flex: none; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .header {}
    }
    @media screen and (min-width: $laptopWidth) { padding: 0 2rem; }
    @media screen and (min-width: $desktopWidth) { padding: 0 4rem;
      .header {
        &-logo a { font-size: 1.125rem;
          img { width: 57px; height: 24px; }
        }
        &-menu { height: 100%; margin-right: 4.25rem; display: flex;
          ul { display: flex;
            li { position: relative; height: 100%; display: flex; align-items: center;
              &:not(:last-child) { margin-right: 1.875rem; }
              &.current {
                &::before { @include pseudo; left: calc((100% - 2rem) / 2); bottom: 0; width: 2rem; height: .125rem; background: $mainGradient; }

                a { color: $mainColor !important; font-weight: 600; }
              }

              a { color: $mainColor; font-weight: 500; font-size: .875rem;
                &:hover { color: $accentColor; }
              }
            }
          }
        }
        &-user a {
          &:hover { color: $accentColor;
            img { filter: brightness(.75); }
          }

          span { margin-right: .625rem; display: inline-block; }
        }
        &-menu-bar { display: none; }
      }
    }
  }
}

main { @include z('main'); }

// footer { @include z('footer');
//   .container {
//     .footer {}

//     @media screen and (min-width: $tabletWidth) {
//       .footer {}
//     }
//     @media screen and (min-width: $desktopWidth) {
//       .footer {}
//     }
//   }
// }


/* Module styles */
@import 'module/filter';


/* Page styles */
@import 'page/index';
