extends include/main

block variables
  - let title = 'Коммуникации'
  - let page = 'index'

block content
  include include/filter
  section#index
    .container
      .index.content
        .index__title
          h1 
