
$white                     : #ffffff;
$black                     : #000000;
$darkGrey                  : #8e8e8e;
$lightGrey                 : #aeaeae;

/* Font options */
$mainColor                 : #222222;
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFont                  : 'Montserrat', sans-serif;
$mainLineHeight            : 1.5;
$mainShadow                : inset 0 0 1px rgba(34, 34, 34, .66);

/* Screen resolution */
$mobileWidth               : 320px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1248px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$backgroundColor           : #f5f5f5;
$linkColor                 : #a044ff;
$linkColor_hover           : #6a3093;
$accentColor               : #a044ff;
$successColor              : #6a3093;
$errorColor                : #dc2d70;

$borderColor               : #eeeeee;
$mainGradient              : linear-gradient(110deg, #6a3093 0%, #a044ff 100%);
$accentGradient            : linear-gradient(110deg, #6a3093 0%, #a044ff 50%, #6a3093 100%);
$headerShadow              : 0 2px 4px rgba(0, 0, 0, .05);
