
/* Filter */
#filter { position: relative; box-shadow: $headerShadow; background: $white; @include z('filter');
  .container { height: 3.75rem; padding: 0 1.25rem;
    .filter { display: flex; justify-content: space-between; align-items: center;
      &-menu { height: 100%; display: flex;
        ul { display: flex;
          li { position: relative; height: 100%; display: flex; align-items: center;
            &:not(:last-child) { margin-right: 1.5rem; }
            &.current {
              &::before { @include pseudo; left: calc((100% - 3rem) / 2); bottom: 0; width: 3rem; height: .125rem; background: $mainGradient; }

              a { color: $mainColor !important; font-weight: bold; }
            }

            a { position: relative; color: $darkGrey; font-weight: 500; white-space: nowrap;
              span { position: absolute; left: 100%; top: -7px; border-radius: 8px; padding: .125rem .375rem; background: $mainGradient; color: $white; font-weight: 600; font-size: .625rem; line-height: 1.2; }
            }
          }
        }
      }
      &-settings { display: flex;
        &__button { position: fixed; left: 0; bottom: 0; width: 100%; padding: 0 1.25rem 1.25rem; display: flex;
          .button:not(:last-child) { margin-right: .625rem; }
        }
      }
      &-date { position: fixed; left: 0; bottom: 0; width: 100%; box-shadow: 0 0 15px rgba(0, 0, 0, .06); border-radius: 20px 20px 0 0; padding: .5rem 1.25rem 4.875rem; background: $white; }
      &-view { position: absolute; left: 1.25rem; top: 4.75rem; display: flex;
        .switch:not(:last-child) { margin-right: .625rem; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .filter {}
    }
    @media screen and (min-width: $laptopWidth) { padding: 0 2rem; }
    @media screen and (min-width: $desktopWidth) { height: 4.875rem; padding: 0 4rem;
      .filter {
        &-menu ul li {
          &:not(:last-child) { margin-right: 1.875rem; }

          a { font-size: 1.25rem;
            &:hover { color: $linkColor_hover; }

            span { left: calc(100% + 4px); border-radius: 9.5px; font-size: .75rem; line-height: 1.25; }
          }
        }
        &-settings {
          &__button { position: relative; left: auto; bottom: auto; padding: 0; flex-direction: row-reverse;
            .button:not(:last-child) { margin: 0 0 0 .625rem; }
          }
        }
        &-date { position: relative; left: auto; bottom: auto; box-shadow: none; border-radius: 0; margin-right: 1.25rem; padding: 0; }
        &-view { position: relative; left: auto; top: auto; margin-right: .625rem; }
      }
    }
  }
}
