#filter
  .container
    .filter.content
      nav.filter-menu
        ul
          li.current
            a(href='#' title='Моё расписание') Моё расписание
          li
            a(href='#' title='На согласовании')
              | На согласовании
              span 12
      .filter-settings
        form.filter-date(action='#' autocomplete='off')
          .date
            input(type='text' name='filter_date' required placeholder='' value='28 февраля' title='Дата')
            img(src='/image/icon/calendar-purple.svg' alt='icon')
        .filter-view
          .switch
            a.active(href='#' title='День') День
            a(href='#' title='Неделя') Неделя
            a(href='#' title='Месяц') Месяц
          .switch.switch_icon
            a(href='#' title='Список')
              svg
                use(href='/image/icon/list.svg#list')
            a.active(href='#' title='Календарь')
              svg
                use(href='/image/icon/calendar.svg#calendar')
        .filter-settings__button
          .button.button_icon
            a(href='#' title='')
              img(src='/image/icon/link.svg' alt='icon')
          .button.button_filter
            a(href='#' title='Создать')
              img(src='/image/icon/bookmark-plus.svg' alt='icon')
              | Создать
