-
  let menu = [
    { url: '#', title: 'Мои события', current: true },
    { url: '#', title: 'Настроить расписание' },
    { url: '#', title: 'Группы' },
    { url: '#', title: 'Интергации' },
    { url: '#', title: 'Архив' }
  ]

header
  .container
    .header.content
      .header-logo
        a(href='/' title='Коммуникации')
          img(src='/image/logo.svg' alt='Коммуникации')
          span Коммуникации
      nav.header-menu
        ul
          each link in menu
            li(class=(link.current === true ? 'current' : undefined))
              a(href=link.url title=link.title) #{ link.title }
      .header-user
        a(href='#' title='Константин А.')
          span Константин А.
          img(src='/image/user/1.jpg' srcset='/image/user/1@2x.jpg 2x' loading='eager' alt='KA')
      .header-menu-bar
        a.open-menu(href='#' title='Открыть меню')
          img(src='/image/icon/menu.svg' alt='icon')
