
/* Index page */
#index {
  .container { min-height: calc(100vh - 6rem);
    .index {}

    @media screen and (min-width: $tabletWidth) {
      .index {}
    }
    @media screen and (min-width: $desktopWidth) {
      .index {}
    }
  }
}
